body {
    padding-top: 50px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../images/Home_Pic.jpg');
  background-size: cover;
  color: #ffffff;
  height: 900px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  overflow: auto;
  background-position: center;
}

.jumbotron h1 {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  bottom: 200px;
  color: #fff;
}

.btn-group{
  bottom: 10px;
}

#information{
  display: none;
}

#announcements{
  display: block;
}

#sign-ins{
  display: none;
}

#botBar{
  margin-top: 20px;
}
