.card {
  height: 100%;
  border-radius: 15px;
}

.card-header:first-child {
  border-radius: 15px 15px 0 0;
}

.info {
  color: #909090;
  font-size: 85%;
  line-height: 130%;
  margin-top: -.5em;
}

.quote {
  color: #505050;
  font-size: 85%;
  font-style: italic;
  margin-top: 1em;
  text-align: left;
}

.interests {
  color: #909090;
  font-size: 85%;
  margin-top: 1em;
  text-align: left;
}

#footnote {
  font-size: 80%;
  font-style: italic;
}
